.pageWrapper {
  @apply min-h-screen bg-slate-100 flex flex-col items-center px-4 py-10 space-y-8;
}

.cardArea {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 68%;
  background-color: #EDEDED;
  margin: 0 auto;
}


.planGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.loadingText {
  @apply text-center text-gray-500 text-lg mt-10;
}